<nav class="navbar sticky-top">
    <div class="container d-flex">
        <p class="navbar-brand mb-0"><a href="/" style="text-decoration: none; color: #fff">
        <img src="https://img.icons8.com/dusk/32/000000/server.png" width="32" height="32">
            Machine System Information</p></a>
    </div> 
</nav>