<div class="list-group sidenav">
  <a href="/general" class="list-group-item list-group-item-action">
    General
  </a>
  <a href="/system-hw" class="list-group-item list-group-item-action">
      System (HW)
  </a>
  <a href="/cpu" class="list-group-item list-group-item-action">
      CPU
  </a>
  <a href="/memory" class="list-group-item list-group-item-action">
      Memory
  </a> 
  <a href="/battery" class="list-group-item list-group-item-action">
      Battery
  </a> 
  <a href="os" class="list-group-item list-group-item-action">
      Operating System
  </a> 
  <a href="processes" class="list-group-item list-group-item-action">
      Processes
  </a> 
  <a href="/network" class="list-group-item list-group-item-action">
      Network
  </a>
  <a href="/wifi" class="list-group-item list-group-item-action">
      Wifi
  </a>
    <a href="/status" class="list-group-item list-group-item-action">
      Express Server
  </a>
   <a href="/docker" class="list-group-item list-group-item-action">
      Docker
  </a>
</div>