<div class="container heading">
   <img src="https://img.icons8.com/ultraviolet/40/000000/recharge-battery.png" class="mx-2" width="40" height="40">
    <h1>Battery</h1>
</div>

<div class="card shadow">
  <div class="card-body">
    <h5>Has battery: </h5>{{battery.hasbattery}}<hr>
    <h5>Is Charging: </h5>{{battery.ischarging}}<hr>
    <h5>Percent: </h5>{{battery.percent}} %<hr>
    <h5>AC connected: </h5>{{battery.acconnected}}
  </div>
</div>