<div class="jumbotron shadow">
    <h1 class="display-4">Welcome to MSI <img src="https://img.icons8.com/cute-clipart/64/000000/happy.png"></h1>
    <p class="lead">Check the properties of your machine</p>
</div>
<div class="shadow">
    <h5 class="text-center lead py-2"> <b>&copy; Flamur Deliu</b> </h5>
</div>